:root {
  --background-color: #1c2833;
  --text-color: #f4f6f6;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

Body {
  background-color: var(--background-color);
  color: var(--text-color);
}
