@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #1c2833;
  --backgrond-color-lighter: #212f3c;
  --text-color-primary: #f4f6f6;
  --text-color-secondary: #b2babb;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    var(--background-color) 0%,
    #1f2855 50%,
    var(--background-color) 100%
  );
  color: var(--text-color-primary);
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}
